<div class="d-block">
  <div class="fixed-top">
    <!-- start of side menu -->
    <nav class="navbar navbar-light navbar-static bg-faded menuContainer" role="navigation">
      <div class="overlay"></div>
      <ul class="nav navbar-nav">
        <div class="d-flex align-items-center justify-content-center">
          <div id="container">
            <div class="image-container">
              <img src="assets/imgs/menu.svg" class="navbar-toggler pull-xs-right" id="navbarSideButton" alt="A image" />
            </div>
          </div>
          <span class="nav-link chossenTitle">المبيعات</span>
        </div>
      </ul>
      <ul class="navbar-side" id="navbarSide">
        <li class="navbar-side-item">
          <a href="#" class="side-link"></a>
        </li>
        <li class="navbar-side-item">
          <span class="glyphicon glyphicon-credit-card"></span>
          <span class="menu"></span>
        </li>
      </ul>
    </nav>
  </div>

</div>
