<!-- start footer of bill -->
<div class="bill fixed">
  <div class="divider">

  </div>
  <div class="totalBill first">

    <div class="col-md-12 d-flex justify-content-between details">

      <div class="col-md-4">

        <div class="product_description long-and-truncated">
          <p style="color: #757575;">الاجمالى</p>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center">

      </div>
      <div class="col-md-1 discountIcon d-flex justify-content-end" style="padding-right: 10px">

      </div>

      <div class="col-md-2 cash d-flex justify-content-end">
        <span class="totalcash">
          348.00
        </span>
      </div>
      <div class="col-md-1 d-flex justify-content-end">
      </div>

    </div>

  </div>
  <div class="bill-divider"></div>

  <!-- discount on bill -->

  <div class="totalBill">

    <div class="col-md-12 d-flex justify-content-between details">

      <div class="col-md-1">

      </div>
      <div class="col-md-5 d-flex justify-content-start">

        <div class="product_description long-and-truncated">
          <p>الخصم على الفاتورة</p>
        </div>
      </div>
      <div class="col-md-3 discountIcon d-flex justify-content-end" style="padding-right: 10px">
        <div class="discountPrecentage footerPrecentage">
          <span>
            10%
          </span>
        </div>
      </div>

      <div class="col-md-2 cash d-flex justify-content-end align-items-center">
        <span>
          25.00
        </span>
      </div>
      <div class="col-md-1 d-flex justify-content-end">
        <img class="img-4" src="assets/imgs/multiple.svg" />
      </div>
    </div>

  </div>

  <!-- end of discount on bill -->
  <!-- start delivery -->

  <div class="totalBill">

    <div class="col-md-12 d-flex justify-content-between details deliver">

      <div class="col-md-1">


      </div>
      <div class="col-md-5 d-flex justify-content-start">
        <div class="product_description long-and-truncated">
          <p>التوصيل</p>
        </div>
      </div>
      <div class="col-md-3 discountIcon d-flex justify-content-end" style="padding-right: 10px">

      </div>

      <div class="col-md-2 cash d-flex justify-content-end align-items-center">
        <span>
          25.00
        </span>
      </div>
      <div class="col-md-1 d-flex justify-content-end">
        <img class="img-4" src="assets/imgs/multiple.svg" />
      </div>
    </div>
  </div>
  <div class="bill-divider"></div>

  <div class="totalBill final">

    <div class="col-md-12 d-flex justify-content-between details">

      <div class="col-md-4">

        <div class="product_description long-and-truncated">
          <p style="color: #757575;"> الاجمالى الكلى</p>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center">

      </div>
      <div class="col-md-1 discountIcon d-flex justify-content-end" style="padding-right: 10px">

      </div>

      <div class="col-md-2 cash d-flex justify-content-end">
        <span class="finalcash">
          348.00
        </span>
      </div>
      <div class="col-md-1 d-flex justify-content-end">
      </div>

    </div>

  </div>
  <!-- end delivery -->
  <!-- start bill buttons -->
  <div class="billpays">
    <!-- <a href="bill-cash.html" style="visibility: hidden; height: 0;">
      Click Me
    </a> -->

    <div class="totalBill last d-flex  align-items-center">
      <a   routerLink="/payment-methods" class="paymentIcon">
        <img src="assets/imgs/payments.svg">

      </a>
      <!-- <div  class="paymentIcon">
        <p>

        </p>

      </div> -->
      <div class="d-flex justify-content-center align-items-center cash-button">
        <p>
          استلام كاش
        </p>

      </div>

    </div>
  </div>

  <!-- end bill buttons -->
</div>
