            <!-- start footer of bill -->
            <div class="bill">
              <div class="divider" style="border:none"></div>
              <div class="totalBill first">
                  <div class="col-md-12 d-flex justify-content-between details">
                      <div class="col-md-4">
                          <div class="product_description long-and-truncated">
                              <p style="color: #757575;">الاجمالى</p>
                          </div>
                      </div>
                      <div class="col-md-4 d-flex justify-content-center"></div>
                      <div class="col-md-1 discountIcon d-flex justify-content-end" style="padding-right: 10px"></div>

                      <div class="col-md-2 cash d-flex justify-content-end">
                          <span class="totalcash"> 348.00 </span>
                      </div>
                      <div class="col-md-1 d-flex justify-content-end"></div>
                  </div>

              </div>
              <div class="bill-divider"></div>

              <!-- discount on bill -->

              <div class="totalBill">
                  <div class="col-md-12 d-flex justify-content-between details">
                      <div class="col-md-1">

                      </div>
                      <div class="col-md-5 d-flex justify-content-center">
                        <div class="product_description long-and-truncated">
                          <p>الخصم على الفاتورة</p>
                      </div>
                      </div>
                      <div class="col-md-3 discountIcon d-flex justify-content-end" style="padding-right: 10px">
                          <div class="discountPrecentage footerPrecentage">
                              <span> 10% </span>
                          </div>
                      </div>

                      <div class="col-md-2 cash d-flex justify-content-end align-items-center">
                          <span> 25.00 </span>
                      </div>
                      <div class="col-md-1 d-flex justify-content-end">
                          <img class="img-4" src="assets/imgs/multiple.svg" />
                      </div>
                  </div>
              </div>

              <!-- end of discount on bill -->
              <!-- start delivery -->

              <div class="totalBill">
                  <div class="col-md-12 d-flex justify-content-between details deliver">
                      <div class="col-md-1">

                      </div>
                      <div class="col-md-5 d-flex justify-content-center">
                        <div class="product_description long-and-truncated">
                          <p>التوصيل</p>
                      </div>
                      </div>
                      <div class="col-md-3 discountIcon d-flex justify-content-end" style="padding-right: 10px"></div>

                      <div class="col-md-2 cash d-flex justify-content-end align-items-center">
                          <span> 25.00 </span>
                      </div>
                      <div class="col-md-1 d-flex justify-content-end">
                          <img class="img-4" src="assets/imgs/multiple.svg" />
                      </div>
                  </div>
              </div>
              <div class="totalBill first finalTotal">
                  <div class="col-md-12 d-flex justify-content-between details">
                      <div class="col-md-4">
                          <div class="product_description long-and-truncated">
                              <p style="color: #757575;">الإجمالى الكلى</p>
                          </div>
                      </div>
                      <div class="col-md-4 d-flex justify-content-center"></div>
                      <div class="col-md-1 discountIcon d-flex justify-content-end" style="padding-right: 10px"></div>
                      <div class="col-md-2 cash d-flex justify-content-end">
                          <span class="finalcash"> 348.00 </span>
                      </div>
                      <div class="col-md-1 d-flex justify-content-end"></div>
                  </div>
              </div>
              <div class="totalBill first">
                  <div class="col-md-12 d-flex justify-content-between details remaining">
                      <div class="col-md-4">
                          <div class="product_description long-and-truncated">
                              <p>الباقى</p>
                          </div>
                      </div>
                      <div class="col-md-4 d-flex justify-content-center"></div>
                      <div class="col-md-1 discountIcon d-flex justify-content-end" style="padding-right: 10px"></div>

                      <div class="col-md-2 cash d-flex justify-content-end">
                          <span class="remaingPrice"> 348.00 </span>
                      </div>
                      <div class="col-md-1 d-flex justify-content-end"></div>
                  </div>
              </div>
              <!-- end delivery -->
          </div>

          <!-- end footer of bill -->
