<div class="sidebar_container">
  <div class="sidebar">
    <div class="list-items">
      <a class="item-nav">
        <div class="item-img">

        </div>
      </a>
      <a class="item-nav">
        <div class="item-img">

        </div>
      </a>

      <a class="item-nav">
        <div class="item-img">

        </div>
      </a>

      <a class="item-nav">
        <div class="item-img">

        </div>
      </a>
      <a class="item-nav">
        <div class="item-img">

        </div>
      </a>
      <a class="item-nav">
        <div class="item-img">

        </div>
      </a>
      <a class="item-nav">
        <div class="item-img">

        </div>
      </a>
      <a class="item-nav">
        <div class="item-img">

        </div>
      </a>
      <a class="item-nav">
        <div class="item-img">

        </div>
      </a>
      <a class="item-nav">
        <div class="item-img">

        </div>
      </a>
    </div>

  </div>
</div>
